form {
  background-color: #f7f7f7;
  padding: 1em;
}

form input, form button[type="submit"], form button[type="reset"] {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.25em;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input, form button[type="submit"], form button[type="reset"] {
  background-color: #337ab7;
  color: white;
}

button[type="submit"]:hover, button[type="reset"]:hover {
  background-color: #23527c;
}