/* global variables for layout, spacing, colors */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

h1 {
  font-size: 2em;
  color: #337ab7;
}

/* global variables for spacing */
* {
  margin: 20px;
}

/* global variables for colors */
h1, h2, h3 {
  color: #337ab7;
  font-weight: bold;
}