body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
  color: #0056b3;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: bold;
}

ol, ul {
  margin-bottom: 1em;
}

ol {
  padding-left: 2em;
}

ul {
  list-style-type: disc;
  padding-left: 2em;
}

li {
  margin-bottom: 0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin-bottom: 1em;
}

/* Specific to forms.html to address the "rp" issue (not needed to be styled, just declared) */
ruby {
  display: inline;
}

rp {
  display: inline;
}

/* Style for iframes */
iframe {
  border: 1px solid #ccc;
  margin: 1em 0;
}

/* Style for noscript tags */
noscript {
  background-color: #eee;
  padding: 1em;
  border: 1px solid #ccc;
  margin: 1em 0;
}

/* Style for select tags */
select {
  margin-bottom: 0.5em;
}

/* Style for picture tags */
picture {
  display: block;
}

/* Style for col and colgroup */
colgroup, col {
  display: contents;
}

/* Style for data attributes */
[data-attribute] {
    /*  No specific styling required; this is just a selector. */
}

/* Style for param tags */
param {
    display: none;
}