/* Global styles */
body {
    color: #333;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* ARIA attributes for interactive elements */
a[aria-label] {
    opacity: 0;
}
a[aria-ownedby] {
    color: #666;
}

/* Use all HTML5 tags at least once in the content */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

nav ul li a:hover {
    color: #ccc;
}