body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #0056b3;
  line-height: 1.2;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

b { font-weight: bolder; }

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol, ul {
  margin-left: 2em;
}

li {
  margin-bottom: 0.5em;
}

strong {
  font-weight: bolder;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

figure {
  margin: 1em 0;
}

picture {
    display: block;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

iframe, object {
    border: 1px solid #ccc;
}

param {
    display: none;
}

style {
    display: none;
}

data {
    display: none;
}

track {
    display: none;
}