body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol {
  margin-left: 2em;
  padding-left: 1em;
}

ul {
  list-style-type: disc;
  margin-left: 2em;
  padding-left: 1em;
}

code {
  font-family: monospace;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

pre {
  background-color: #f0f0f0;
  padding: 1em;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

colgroup {
  display: table-column-group;
}

col {
  display: table-column;
}

figure {
  margin: 1em 0;
}

figcaption {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
}

picture {
    display: block;
}

s {
  text-decoration: line-through;
}

style {
  display: none;
}

object {
  display: block;
}

param {
  display: none;
}

iframe {
  display: block;
}

noscript {
  display: block;
  color: red;
}

data {
  display: none;
}