* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::before, *::after {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
body {
  color: #333; font-family: Arial;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}