body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  font-size: 0.8em;
}

span {
  font-style: italic;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.5em;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

colgroup, col {
  display: table-column-group; /* Necessary for proper rendering */
}


/* Forms */
label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Important for width calculation */
}

select {
    appearance: auto;
    -webkit-appearance: auto;
}


/* Media */
picture {
  display: block;
}
iframe {
  border: none;
}
object {
    display: block;
}

/*Interactive*/
/* No special styling needed, but can be added here */

/*Accessibility considerations (color contrast)*/

:root {
  --primary-text-color: #333;
  --primary-background-color: #fff;
  --link-color: #007bff;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}