/* CSS styles here */
body { margin: 0; padding: 0; background-color: #f2f2f2; }
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    color: #ccc;
}

section, article, aside, footer, header, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    margin-bottom: 0.5em;
}
p {
    line-height: 1.5;
    margin-bottom: 1em;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    display: inline-block;
    margin-right: 10px;
}

script.js