tables {
  padding: 1em;
}

table, th, td {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

th, td {
  background-color: #f7f7f7;
  padding: 0.25em;
  font-size: 16px;
  text-align: left;
}

button[type="button"] { display: block; margin-right: 20px; }